.main-page-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-page-item-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-page-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  margin: 15%;
  border: 2px solid lightslategray;
  box-shadow: 0 0 10px 3px lightgrey;
  transform: rotateY(0deg);
  transition: all 3s cubic-bezier(0,-0.02, 0.18, 0.82);
}

.main-page-item:hover {
  transform: rotateY(360deg);
  cursor: pointer;
}

.img-item {
  height: 100%;
  width: 100%;
}