.game-bets-history-table, .game-bets-history-table tr, .game-bets-history-table td {
  padding: 2px;
}

.game-bets-history-table td {
  width: 250px;
  text-align: center;
}

.table-filled-field {
  background: blue;
  color: white;
}

.madness-game-raise-button-container {
  margin-top: 10px;
}

.madness-game-raise-button-container>button {
  width: 100%;
  background: #800000;
  color: white;
}

.madness-game-finish-button-container>button {
  width: 100%;
  background: #800000;
  color: white;
}