.navbar-default {
    width: 100%;
}

.navbar-header {
    height: 100%;
    padding: auto;
}

.navbar-header>span {
    font-size: 18px;
    color: #337ab7 !important;
}

.navbar-header>span>.active {
    font-size: 18px;
    color: #337ab7 !important;
}

.navbar-collapse {
    float: right;
}

a {
    background: unset !important;
}