.navbar-default {
   width: 100%;
 }

.navbar-default>.container {
  width: 80%;
}

.navbar-header {
  height: 64px;
}

.navbar-brand {
  height: 100%;
}

.navbar-brand>.active {
  font-size: 18px;
  color: #337ab7 !important;
}

.navbar-collapse {
  width: 250px;
  float: right;
}

.header-game-info {
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
}

a {
  background: unset !important;
}
.user-avatar-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: right;
}

.user-avatar-container>img {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .navbar-default>.container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 5px;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
  .container>.navbar-collapse {
    width: 100%;
  }
  .navbar-toggle {
    margin-top: 16px;
  }
  .navbar-right {
    float: unset !important;;
  }
}