.navbar-default {
    width: 100%;
}

.navbar-header {
    height: 100%;
    padding: auto;
}

.navbar-header>li {
    display: block;
}

.navbar-collapse {
    float: right;
}

a {
    background: unset !important;
}