.madness-game-link-container:hover {
  cursor: pointer;
}

.madness-game-interaction-button-container {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0;
}

.madness-game-interaction-button-container>button {
  width: 100%;
  background: #800000;
  color: white;
}