.madness-game-link-container:hover {
  cursor: pointer;
}

.madness-game-my-games-item-title-container {
  font-size: 11px;
  margin-left: 10px;
}

.madness-game-my-games-countdown-container {
  color: #800000;
  font-weight: 600;
}